<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerenciador de estoque</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="has-background-grey-lighter">
    <section class="section">
        <div class="container header has-text-centered">
            <h1 class="title is-2">Gerenciador de estoque</h1>
            <h2 class="subtitle is-3">{% block title %}{% endblock %}</h2>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
</body>

</html>
