{% extends 'base.html' %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-three-quarters-desktop">
            <div class="buttons">
                <a class="button is-dark" href="{{ url_for('mantimento.novo') }}">
                    <span class="icon is-small">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Novo Mantimento</span>
                </a>
            </div>

            <div class="box">
                {% if mantimentos|length > 0 %}
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Marca</th>
                                <th>Descrição</th>
                                <th>Consumo Diário</th>
                                <th>Quantidade</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mantimento in mantimentos %}
                                <tr>
                                    <td>{{ mantimento.nome }}</td>
                                    <td>{{ mantimento.marca }}</td>
                                    <td>{{ mantimento.descricao }}</td>
                                    <td>{{ mantimento.consumo_diario }}</td>
                                    <td>
                                        {{ mantimento.quantidade_atual }}/{{ mantimento.quantidade_min }}
                                        ({{ (mantimento.quantidade_atual / mantimento.quantidade_min * 100)|round(1) }}%)
                                    </td>
                                    <td>
                                        <a href="{{ url_for('mantimento.editar', id=mantimento.id) }}" class="button is-warning">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="aviso-vazio is-size-4 has-text-grey has-text-centered">
                        Não há mantimentos cadastrados no sistema
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
