{% extends 'base.html' %}

{% block title %}{{ 'Editar' if id else 'Novo' }} mantimento{% endblock %}

{% if not erros %}{% set erros = dict() %}{% endif %}
{% if not mantimento %}{% set mantimento = dict() %}{% endif %}

{% block content %}
    <div class="columns is-centered novo">
        <div class="column box is-two-thirds-tablet is-half-desktop">
            <form method="post">
                <div class="field">
                    <label for="nome" class="label">Nome: *</label>
                    <div class="control">
                        <input
                            id="nome"
                            class="input {{ 'is-danger' if erros.nome }}"
                            type="text"
                            name="nome"
                            value="{{ mantimento.nome or request.form['nome'] }}"
                        />
                    </div>
                    {% if erros.nome %}
                        <p class="help is-danger">{{ erros.nome }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label for="marca" class="label">Marca:</label>
                    <div class="control">
                        <input
                            id="marca"
                            class="input"
                            type="text"
                            name="marca"
                            value="{{ mantimento.marca or request.form['marca'] }}"
                        />
                    </div>
                </div>

                <div class="field">
                    <label for="descricao" class="label">Descrição:</label>
                    <div class="control">
                        <input
                            id="descricao"
                            class="input"
                            type="text"
                            name="descricao"
                            value="{{ mantimento.descricao or request.form['descricao'] }}"
                        />
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label for="consumo-diario" class="label">Consumo Diário: *</label>
                            <div class="control">
                                <input
                                    id="consumo-diario"
                                    class="input {{ 'is-danger' if erros.consumo_diario }}"
                                    type="text"
                                    name="consumo-diario"
                                    value="{{ mantimento.consumo_diario or request.form['consumo-diario'] }}"
                                />
                            </div>
                            {% if erros.consumo_diario %}
                                <p class="help is-danger">{{ erros.consumo_diario }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label for="quantidade-min" class="label">Quantidade Mínima: *</label>
                            <div class="control">
                                <input
                                    id="quantidade-min"
                                    class="input {{ 'is-danger' if erros.quantidade_min }}"
                                    type="text"
                                    name="quantidade-min"
                                    value="{{ mantimento.quantidade_min or request.form['quantidade-min'] }}"
                                />
                            </div>
                            {% if erros.quantidade_min %}
                                <p class="help is-danger">{{ erros.quantidade_min }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button type="submit" class="button is-dark">Salvar</button>
                    </div>
                    <div class="control">
                        <a class="button" href="{{ url_for('index') }}">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
